* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Epilogue';
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--Almost-White);
}

header {
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

nav img {
    margin-right: 2rem;
    user-select: none;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a img {
    width: fit-content;
    margin: 0;
    padding: 0;
}

nav a, .lg a {
    text-decoration: none;
    color: var(--Almost-Black);
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

nav a:hover, .lg a:hover {
    color: var(--Medium-Gray);
}

.lg {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.burger {display: none;}

main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.left h1 {
    font-size: 4.3rem;
    font-weight: 700;
}

.left p {
    font-size: 1rem;
    color: var(--Medium-Gray);
}

button {
    all: unset;
    width: fit-content;
    height: fit-content;
    padding: 0.7rem;
    border: 1px solid var(--Almost-Black);
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
    transition: ease-in-out 0.2s;
}

button:hover {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}

.right {
    width: 28%;
    height: 28%;
}

.mobile-img {display: none;}

.right img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.sponsor {
    display: flex;
    gap: 50px;
}

.sponsor img {
    width: fit-content;
    height: fit-content;
    user-select: none;
}

@media screen and (max-width:700px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
    }
    nav a ,.lg{
        display: none;
    }

    main {
        width: 100%l;
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        margin: auto;
        width: 80%;
        text-align: center;
        padding: 0;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .left h1 {
        font-size: 2.5rem;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {display: flex;}

    .right {
        width: 100%;
        margin-bottom: 5rem;
    }

    .sponsor {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 5rem;
    }

    .sponsor img {
        width: 70px;
    }
}